html{
    background-attachment: fixed;
    background-image: url(https://img.freepik.com/premium-photo/annual-sale-shopping-season-concept-mini-pink-shop-cart-trolley-full-paper-bag-gift-isolated-pale-pink-background-blank-copy-space-close-up_315337-9558.jpg?w=2000);
    background-size: 100%;
}