html{
    background-attachment: fixed;
    background-image: url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000);
    background-size: 100%;
}
.first{
    align-items: center;
    
}